* {
  background-image: url('./images/background.png');
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.planets {
  display: inline-block;
}
.planetsImg {
  max-width: 50%;
}

.cards {
  border: 2px solid white;
  border-radius: 10%;
  display: inline-block;
  height: 200px;
  margin: 10px;
  padding-top: 60px;
  width: 300px;
}